# This file includes environment variables template.
# Copy this file to .env.dev and add your actual values.

# Built-in environment variables
TEAMSFX_ENV=dev
APP_NAME_SUFFIX=dev
CEP_API_URL=<your-api-url>
CEP_BACKEND_CLIENT_ID=<your-backend-client-id>
AGENT_SCOPE=personal

# Generated during provision, add your own variables.
TEAMS_APP_ID=<your-teams-app-id>
TEAMS_APP_TENANT_ID=<your-tenant-id>
M365_TITLE_ID=<your-m365-title-id>
M365_APP_ID=<your-m365-app-id>
SHARE_LINK=
AAD_APP_CLIENT_ID=<your-aad-app-client-id>
AAD_APP_OBJECT_ID=<your-aad-app-object-id>
AAD_APP_TENANT_ID=<your-tenant-id>
OAUTH2AUTH_REGISTRATION_ID=<your-oauth2-registration-id>
